.user {
    display: flex;
    background-color: aqua;
}

.user img {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 0px;
    height: 50px;
    width: 50px;
    border-radius: 200px;
}

.totalinfo {
    background-color: aqua;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.user {
    background-color: aqua;
    margin-right: 5px;
}

.myinfo div {
    background-color: aqua;
}

.doneactive {
    background-color: aqua;

}

.cart {
    position: sticky;
    top: 0;

}

.myinfo {
    display: flex;

}

.totalinfo div {
    background-color: white;
    margin-left: 8px;
    border-radius: 20px
}

.myinfo div {
    padding: 5px;
    justify-content: center;
    text-align: center;
}

.btnDiv {
    margin-top: 30px;
    margin: 10px;
    text-align: center;
}



.break button {
    padding: 10px;
    margin: 5px;
    background-color: tomato;
    border: none;
    border-radius: 70px;
}

.break button:hover {
    background-color: brown;
}

.break {
    background-color: rgb(250, 248, 248), important;
}

.taks {
    margin-left: 10px;
    padding-left: 20px;
}

.task {
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}


#button {
    width: 90%;
    height: 35px;
    background-color: tomato;
    border: none;
    border-radius: 10px;
    margin: 15px;
}

#button:hover {
    background-color: brown;
}